.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info
dist/
build/
develop-eggs/
parts/
sdist/
var/
*.so
*.egg-info/
.installed.cfg
*.egg
*.log
*.mo
*.pot
*.pyc
*.swp
.DS_Store
.idea/
venv/
node_modules/
target/
test/
*.iml
.idea/
*.ipynb_checkpoints
processed_files.txt
